# Keystatic
KEYSTATIC_GITHUB_CLIENT_ID=placeholder
KEYSTATIC_GITHUB_CLIENT_SECRET=placeholder
KEYSTATIC_SECRET=placeholder
NEXT_PUBLIC_KEYSTATIC_GITHUB_APP_SLUG=placeholder
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=placeholder
GITHUB_USER=placeholder
GITHUB_REPO=placeholder
KEYSTATIC_GITHUB_TOKEN=placeholder
