@import "tailwindcss";

:root {
    /*Define Raw design tokens here*/
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    /*Define theme tokens here*/
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-google-sans-flex), sans-serif;
    --font-mono: var(--font-google-sans-code), sans-serif;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-sans);
}
